<a href="https://colab.research.google.com/github/shivamsingh163248/IIT-Ropar-Minor-in-AI/blob/main/IIT_Ropar_Minor_in_AI/Assignment/IIT_Ropar_Minor_in_AI_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
age = input("Enter your age: ")  # String input
age = int(age)  # Convert to integer

print(age)

Enter your age: 45
45

In [2]:
age = int(input("Enter your age: "))
print(age)

Enter your age: 56
56

In [3]:
age = input("enter the age ")
print(age)

enter the age 578
578

In [4]:
int("10")    # Converts string "10" to integer 10
float(5)     # Converts integer 5 to float 5.0
str(100)     # Converts integer 100 to string "100"

'100'

In [5]:
str(42)   # "42"
str(3.14) # "3.14"

'3.14'