<a href="https://colab.research.google.com/github/shivamsingh163248/IIT-Ropar-Minor-in-AI/blob/main/IIT_Ropar_Minor_in_AI/VideoLacture/TH_W2L3_Mastering_Python_Functions_SET_string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#creating the sample of the set and try all the operation of the set
setA = {1,2,3,4}
TupleB = (1,2,4,5,6,4,7,8,9)
listc= [1,2,6,7,8,89,0]

set1 = setA.union(TupleB)
print(set1)
set2 = setA.union(listc)
print(set2)

#leter operation with the logicl operation of the set
# print(setA | TupleB)
# print(setA | listc)

print(setA | set(TupleB))
print(setA | set(listc))  #check all the type check the all the type of the

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 6, 7, 8, 89}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 6, 7, 8, 89}

In [10]:
#try of the interaction
#opeartion ssuch a difference
#a-b #b-a this is the absic set operation

set1 = setA.intersection(TupleB)
print(set1)
set2 = setA.intersection(listc)
print(set2)

#leter operation with the logicl operation of the set
# print(setA | TupleB)
# print(setA | listc)

print(setA & set(TupleB))
print(setA & set(listc))  #check all the type check the all the type of t

{1, 2, 4}
{1, 2}
{1, 2, 4}
{1, 2}

In [56]:
#now try a-b
set1 = setA - set(TupleB)
print(set1)
set2 = setA - set(listc)
print(set2)

#leter operation with the logicl operation of the set
# print(setA | TupleB)
# print(setA | listc)

print(set(TupleB) - setA)
print(set(listc) - setA)  #check all the type check the all the type of t

{3}
{3, 4}
{5, 6, 7, 8, 9}
{0, 6, 7, 8, 89}

In [30]:
#sum function operation take the some most used function which i not cover all the right
import math
list1 = [5,6,7,8,9,56,3,3,4,45,5]

num = 3454.7878786
num1 = 65

#test the popwer
print(pow(num1 , 2))
print(abs(num))
print(math.floor(num))
print(round(num , 2))
print(max(list1))
print(min(list1))
print(divmod(num1 , 5)) #this is the return the divesion and mode

#write all the most use math function and hear we are the try the some math function
print(math.factorial(5)) #this is the find the fectorial
print(math.sqrt(25)) #return the integer
print(math.lcm(3 , 6))

4225
3454.7878786
3454
3454.79
56
3
(13, 0)
120
5.0
6

In [44]:
#creating the some another function  some string function use in the python that are the most use in the python
text = "shviam    singh "
print(len(text))

16

In [53]:
print(text.upper())
print(text.isspace())
print(text.lower())
print(text.replace("shivam" , "itisha"))
print(text.split(" ")) #many form to use the split function
print(text.strip(""))
#check the strat with and end with function
print(text.find("am")) #retun the index if the string is not find the return the -1 before

#write all the string function

SHVIAM    SINGH
False
shviam    singh
shviam    singh
['shviam', '', '', '', 'singh', '']
shviam    singh
4

In [64]:
#creating the function and default function
#function to right the 10 febnocic number

def feb(number):
  a = 0
  b = 1
  #creating the loop and
  print(a)
  print(b)
  list1 = []
  for i in range(number - 2):
      c = a+b
      print(c)
      list1.append(c)
      a = b
      b = c
  return list1


print(feb(10))

0
1
1
2
3
5
8
13
21
34
[1, 2, 3, 5, 8, 13, 21, 34]

In [65]:
#creating the defult function always default function write in the right
def print_name (name = "shivam"):
  return "hello "+name

print(print_name("itisha"))
print(print_name())

hello itisha
hello shivam

In [68]:
#lebda function
next = lambda x:x+1
print(next(10))

11

In [69]:
from re import X
#crteating the some complex operation and more operation with the lembda function
cube = lambda x: x*x*x
print(cube(2))

8